<!DOCTYPE html>
<html ng-app='chat'  ng-controller="ChatController">
<head>
<meta charset="utf8" />
<title>{{config.title}}</title>
<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<style type="text/css">
	body{
		
	}
	#msg_content{margin-top:10px; opacity: .8;}
	.form-signin{    
		max-width: 330px;
	    padding: 15px;
	    margin: 0 auto;
	    margin-top:100px;

	}
	.welcome{
		margin:20px 0;
		font-size: 16px;
	}
	.notice{
		padding:10px 0;
	}
	.col-md-10{
		border-left: 1px solid #ccc;
		padding-left:50px;
	}
	.left_user_list p{
		margin-bottom: 15px;
	}
	.btn-send{
		margin-top:-15px;
	}
	.user_name{
		 width: 100px;
		 overflow: hidden;
    	 white-space: nowrap;
    	 display: inline-block;
    	 vertical-align:top;
	}
	li{
		line-height: 25px;
		list-style: none;
		 /*display: flex;*/
	}
	.mt_100{
		margin-top:100px;
	}
	.mt_80{
		margin-top:80px;
	}
	.mt_60{
		margin-top:60px;
	}
	.w7{
		width: 70%;
	}
	details{
		opacity: .8;
	}
	body{
		/*background: #000;*/
	}
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  		display: none !important;
	}
	.timestamp{
		color:#ccc;
	}
	.say{
		color:#666;
	}
	footer{
		margin-top:100px;
		color:#999;
	}
</style>
<body ng-style="{'background-image':'url(' + config.bg_img +')'}">

  	<div class="container ng-cloak" ng-cloak>

  	<!--login-->
      <form class="form-signin"  ng-show='!socket.open'  name="formLogin">
        <input type="text" ng-model="user.name" class="form-control" placeholder="请输入昵称:" required  ng-minlength="3" ng-maxlength="15" maxlength="15" autofocus>
        <br/>
        <button class="btn btn-primary center-block"  type="submit"  id="btnLogin" ng-disabled="!formLogin.$valid" ng-click="submit()">login</button>
      </form>
  
	<!--chat-->
	<div ng-show='socket.open'>
		 <p class="welcome">
	    	<marquee>欢迎进入{{config.title}}</marquee>
		</p>
		<p class="notice">
			<i class="fa fa-bullhorn"> :</i> 
			<span ng-class="user.action=='login' ? 'text-success' : 'text-danger'">{{current_user}}</span>
			{{user.action == 'login' ? '进入' : '离开'}}聊天室
		</p>

		<div class="row">

	  		<div class="col-md-2 left_user_list" >
	  			<p><i class="fa fa-user"></i> 在线用户(*)</p>
	  			<ul>
	  				<li ng-repeat="uname in user_list" ng-if="uname != 'All'" ng-class="uname == user.name ? 'text-primary' :'' ">{{uname}}</li>
	  			</ul>
	  		</div>
	    	<div class="col-md-10">
	    		<div>
					<h4 title="点击隐藏" ng-click="all_chat_show = !all_chat_show"><i class="fa fa-commenting-o"></i> 公屏聊天</h4>
					<hr/>
					<ul ng-show="!all_chat_show">
						<li ng-repeat='item in all_msg_list'>
							 <span class="user_name" ng-style="{'color':item.color?item.color:''}" >{{item.from}}</span> <span class="say">说</span> :&nbsp; <span ng-style="{'font-size':item.font_size+'px','color':item.color?item.color:''}">{{item.content}}</span> <span class="timestamp">&nbsp;({{item.time | date:'HH:mm:ss'}} )</span>
						</li>

					</ul>
					
				</div>
				<div class="mt_60" ng-show="my_msg_list[0]">
					<h4  title="点击隐藏" ng-click="my_chat_show = !my_chat_show"><i class="fa fa-comment-o"></i> 私聊</h4>
					<hr/>
					<ul ng-show="!my_chat_show">
						<li ng-repeat='item in my_msg_list'>
							<span ng-style="{'color':item.color?item.color:''}">{{item.from ? item.from : '我'}}</span> &nbsp;对&nbsp;{{item.to ? item.to :'我'}}&nbsp; <span class="say">说</span> :&nbsp; <span ng-style="{'color':item.color?item.color:''}">{{item.content}}</span> <span class="timestamp">&nbsp;({{item.time | date:'HH:mm:ss'}} )</span>
						</li>
					</ul>
				</div>

				<!--sed msg-->
				<div class="mt_80">
				<form name="formMsg">
					对 
					<select ng-model="msg.send_to">
						<option ng-repeat="(uid,uname) in user_list" value="{{uid}}" ng-if="uname != user.name"  ng-selected="uid == 0">{{uname}}</option>
					</select>
					<input type="color" ng-model="msg.color"/>
					<select ng-model="msg.font_size">
						<option ng-selected="true">字号</option>
						<option value="14">14</option>
						<option value="20">20</option>
						<option value="26">26</option>
						<option value="32">32</option>
					</select>
					<textarea type="text" ng-model="msg.content" id="msg_content" class="form-control" placeholder="请输入聊天内容" required ng-maxlength="120"  maxlength="120"/>
					</textarea>
					<br/>
					<button ng-click="send()" class="btn btn-default center-block btn-send"  ng-disabled="!formMsg.$valid" >发送</button>
				</form>
			</div>
    	</div>
    </div>
    <div class="mt_80" ng-if='flase'>
    	<details>
			<summary><i class="fa fa-cogs"></i></summary>
			<br/>
			聊天室背景图 <input type="text" class="w7" ng-model="config.bg_img">
			<button ng-click="setconfig()">保存</button>
		</details>
    </div>
	</div>
	
	<footer class="text-center">
		<hr/>
        <p>© 使用angular js + bootstrap + swoole + redis开发的聊天室 v1.0</p>
     </footer>
	</div>
    
</body>
<script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.4.9/angular.js"></script>
<script type="text/javascript">


	var app = angular.module('chat',[]);
	app.controller('ChatController',['$scope',function($scope){
		//global config
		$scope.config = {};
		$config = $scope.config;
		$config.title="┈━═☆ e网情深 聊天室 ☆═━┈";
		$config.bg_img = '';//http://wiebo.sinaapp.com/assets/images/footer.png

		$scope.details_flag = 'open';

		$scope.user = {};
		$user = $scope.user;
		$user.name = '';


		$scope.socket = {
			'open':false
		}

		$scope.current_user = '';
		$scope.user_list = {}

		$scope.msg = {};
		$msg = $scope.msg;
		$msg.send_to = 0;


		$scope.new_msg = {};
		$new_msg = $scope.new_msg = {
			'username':'',
			'content':'',
			'color':'',
			'font_size':''
		};

		$scope.all_msg_list = [];

		$all_msg_list = $scope.all_msg_list;

		$scope.my_msg_list = [];
		$my_msg_list = $scope.my_msg_list;

		// if(localStorage.username){
		// 	$user.name = localStorage.username;
		// 	setTimeout(function(){
		// 		document.getElementById('btnLogin').click();
		// 	},1)
			
		// }

		$scope.submit = function(username){

			// if(!username){
			// 	localStorage.username = $user.name;
			// }

			var socket = new WebSocket('ws://localhost:9503'); 
			$scope.buttonText="连接中...";
			socket.onopen = function(event) { 

				$scope.socket.open = true;
				$scope.$apply()

				// login
				var request = {'cmd':'login','data':{'username':$user.name}};
				socket.send(JSON.stringify(request)); 

				// 监听消息
				socket.onmessage = function(event) { 
					var response = JSON.parse(event.data);

					var cmd  = response['cmd'];
					var data = response['data'];

					console.log(cmd);
					console.log(data);
					var new_msg = {}
					switch (cmd){
						//send_to:0 all 
						//from:0    me
						// new user login
						case "login":	
							// new user;
							$scope.current_user =  data.user;				
							$scope.user.action 	= 'login';
							// user list
							data.user_list[0]   = 'All';
							$scope.user_list 	= data.user_list;
							break;
						case 'send_to_all':		
							new_msg.from  	  = data['from'];
							new_msg.content   = data['content'];
							new_msg.font_size = data['font_size'];
							new_msg.color     = data['color'];
							new_msg.time 	  = parseInt((new Date() * 1));
							if($all_msg_list.length >= 20){
								$all_msg_list.shift();
							}
							$all_msg_list.push(new_msg);
							console.log($all_msg_list);
							break;
						case 'send_to_me':
							new_msg.from  	  = data['from'];
							new_msg.to        = 0;
							new_msg.content   = data['content'];
							new_msg.font_size = data['font_size'];
							new_msg.color     = data['color'];
							new_msg.time 	  = parseInt((new Date() * 1));
							if($my_msg_list.length >= 20){
								$my_msg_list.shift();
							}
							$my_msg_list.push(new_msg);
							// chrome notice
							if (Notification.permission !== "granted"){
						    	Notification.requestPermission();
							} else {
							    var notification = new Notification(new_msg.from, {
							      icon: 'http://pub.idqqimg.com/smartqq/css/image/tab_icon_conversation.png',
							      body: new_msg.content,
							    });
							    setTimeout(function(){
							    	notification.close();
							    }, 3000);
						  	}
							console.log($my_msg_list);
							break;
						case 'logout':
							$scope.current_user =  data.user;
							$scope.user.action 	= 'logout';

							data.user_list[0]   = 'All';
							$scope.user_list 	= data.user_list;
							break;
						case 'setconfig':
							$config.bg_img = data.bg_img;
							console.log($config);
					}
					$scope.$apply();
			
				};  
				// 监听Socket的关闭
				socket.onclose = function(event) { 
					console.log('Client notified socket has closed',event); 
				};  
				// 关闭Socket.... 
				//	socket.close() 
				};
				//send msg
				$scope.send = function(){
					if($msg.send_to != 0){
						var new_msg = {}
						new_msg.from  	  = 0;
						new_msg.to        = $scope.user_list[$msg.send_to];
						new_msg.content   = $msg.content;
						new_msg.font_size = $msg.color;
						new_msg.color     = $msg.color;
						new_msg.time 	  = parseInt((new Date() * 1));
						console.log(new_msg);
						if($my_msg_list.length >= 20){
							$my_msg_list.shift();
						}
						$my_msg_list.push(new_msg);
					}

					$msg.from = $user.name;
					var request = {'cmd':'send_msg','data':$msg};
					socket.send(JSON.stringify(request)); 
					$msg.content = '';
				}
				//全局配置支持设置背景图
				$scope.setconfig = function(){
					var request = {'cmd':'setconfig','data':$config};
					socket.send(JSON.stringify(request)); 
				}
		}

		$scope.send = function(){
			socket.send(JSON.stringify({'sendMsg':$scope.user})); 
		}
	}])
</script>
</html>

